**Görev 1: Verilen değerlerin veri yapılarını inceleyiniz.**

*   x=8
*  y=3.2
* z=8j+18
* a="Hello World"
* b=True
* c=23<22
* l=[1, 2, 3, 4]
* d={"Name": "Jake", "Age":27, "Adress":"Downtown"}
* t=("Machine Learning", "Data Science")
* s={"Python", "Machine Learning", "Data Science"}

In [ ]:
x=8
type(x)

int

In [ ]:
y=3.2
type(y)

float

In [ ]:
z=8j+18
type(z)

complex

In [ ]:
a="Hello World"
type(a)

str

In [ ]:
b=True
type(b)

bool

In [ ]:
c=23<22
type(c)

bool

In [ ]:
l=[1, 2, 3, 4]
type(l)

list

In [ ]:
d={"Name": "Jake", "Age":27, "Adress":"Downtown"}
type(d)

dict

In [ ]:
t=("Machine Learning", "Data Science")
type(t)

tuple

In [ ]:
s={"Python", "Machine Learning", "Data Science"}
type(s)

set

**Görev 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz,
kelime kelime ayırınız.**
* text= "The goal is to turn data into information, and information into insight."
* **beklenen çıktı**
['THE','GOAL','IS','TO','TURN','DATA','INTO','INFORMATION','AND','INFORMATION','INTO','INSIGHT']

In [ ]:
text= "The goal is to turn data into information, and information into insight."
text=text.upper()
text.split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION,',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT.']

**Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.**
* lst= ["D","A","T","A","S","C","I","E","N","C","E"]
* Adım 1: Verilen listenin eleman sayısına bakınız.
* Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
* Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
* Adım 4: Sekizinci indeksteki elemanı siliniz.
* Adım 5: Yeni bir eleman ekleyiniz.
* Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [ ]:
lst= ["D","A","T","A","S","C","I","E","N","C","E"]

In [ ]:
len(lst)

11

In [ ]:
[lst[0], lst[10]]

['D', 'E']

In [ ]:
lst[0:4]

['D', 'A', 'T', 'A']

In [ ]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [ ]:
lst.append(20)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 20]

In [ ]:
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 20]

**Görev 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.**
* dict={'Cristian': ["America", 18], 'Daisy': ["England", 12], 'Antonio': ["Spain", 22], 'Dante': ["Italy", 25]}

* Adım 1: Key değerlerine erişiniz.
* Adım 2: Value'lara erişiniz.
* Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
* Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
* Adım 5: Antonio'yu dictionary'den siliniz.

In [ ]:
dict={'Cristian': ["America", 18], 'Daisy': ["England", 12], 'Antonio': ["Spain", 22], 'Dante': ["Italy", 25]}

In [ ]:
dict.keys()

dict_keys(['Cristian', 'Daisy', 'Antonio', 'Dante'])

In [ ]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [ ]:
dict.update({'Daisy': ["England", 13]})
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [ ]:
dict.update({'Ahmet':["Turkey",24]})
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [ ]:
del dict['Antonio']

In [ ]:
dict

{'Cristian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

**Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.**
* l= [2,13,18,93,22]

In [ ]:
lst= [2,13,18,93,22]

In [ ]:
def tek_cift_sayilar(liste):
   cift_sayi=[]
   tek_sayi=[]
   for x in liste:
     if x % 2 == 0:
      cift_sayi.append(x)
     else:
      tek_sayi.append(x)
   return tek_sayi, cift_sayi

In [ ]:
tek, cift=tek_cift_sayilar(lst)

In [ ]:
cift

[2, 18, 22]

In [ ]:
tek

[13, 93]

**Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri
bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de
tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.**
* ogrenciler= ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

In [ ]:
ogrenciler= ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]
muh_fak=[]
tıp_fak=[]
for indeks, ogrenci in enumerate(ogrenciler):
  if indeks<=2:
    muh_fak.append(ogrenci)
  else:
    tıp_fak.append(ogrenci)

In [ ]:
muh_fak

['Ali', 'Veli', 'Ayşe']

In [ ]:
tıp_fak

['Talat', 'Zeynep', 'Ece']

**Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
almaktadır. Zip kullanarak ders bilgilerini bastırınız.**
* ders_kodu=["CMP1005", "PYS1001", "HUK1005", "SEN2204"]
* kredi=[3,4,2,4]
* kontenjan=[30,75,150,25]

In [ ]:
ders_kodu=["CMP1005", "PYS1001", "HUK1005", "SEN2204"]
kredi=[3,4,2,4]
kontenjan=[30,75,150,25]

In [ ]:
list(zip(ders_kodu,kredi,kontenjan))

[('CMP1005', 3, 30),
 ('PYS1001', 4, 75),
 ('HUK1005', 2, 150),
 ('SEN2204', 4, 25)]

**Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.**
* kume1= set(["data", "python"])
* kume2= set(["data", "function", "qcut", "lambda","python","miuul"])

In [ ]:
kume1= set(["data", "python"])
kume2= set(["data", "function", "qcut", "lambda","python","miuul"])

In [ ]:
def fonk(set1,set2):
  if set1.issuperset(set2)==True:
    print(set1.intersection(set2))
  else:
    print(set2.difference(set1))

In [ ]:
fonk(kume1,kume2)

{'function', 'miuul', 'qcut', 'lambda'}